﻿@model List<EveryDayEats.Domain.Entities.User>


@{
    ViewBag.Title = "Home Page";
}

@foreach (var user in Model)
{
    <label>@user.FirstName</label>
}

<img src="~/Content/Img/Merchant/Hakeem.jpg" style="width:100px;height:100px"/>